<h1>Welcome to the wonderfully exciting two player game of Rock, paper, scissors!</h1>
<p>To play just choose one of the following options; either rock, paper or scissors and input your choice. Then get your friend to choose and input their decision.</p>
<p>Once the second player has input their decision the winner will be announced!</p>
<p>Rock, paper, scissors is the only way to settle disputes so try it now!! It's much more fun than flipping a coin!</p>