<!doctype html>
<html lang='en'>

  <head>
    <meta charset='utf-8'>
    <title>Rock Paper Scissors Game</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Welcome</li>
        <link rel='stylesheet' href='/style.css'>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>